<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.batchprocessing.PersonMapper">

    <select id="select" resultType="com.example.batchprocessing.Person">
        SELECT
            first_name, last_name
        FROM
            peopleInput

    </select>

    <insert id="save">
        INSERT INTO 
            peopleOutput (full_name) 
        VALUES 
            (#{fullName})
    </insert>

</mapper>